# Temp files
d
l

# Compiled Object files
*.exe
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# VisualStudio 
*.suo
*.sdf
*.opensdf
Debug
Release
